## Documentation: http://docs.travis-ci.org/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.2
  - 1.3
  - nightly

codecov: true

notifications:
  email: false

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
matrix:
  allow_failures:
  - julia: nightly
  - os: osx

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

## uncomment the following lines to override the default test script

jobs:
  include:
    - stage: "Test"
    - stage: "Cross Package Testing"
      env:
        PACKAGE=PowerSystems
      julia: 1.2
      os: linux
      script:
        - cd $HOME
        - julia -e 'const PKG_FOLDER = ENV["TRAVIS_BUILD_DIR"]; using Pkg; Pkg.develop(PackageSpec(path=PKG_FOLDER))'
        - julia -e 'const PACKAGE = ENV["PACKAGE"]; using Pkg; Pkg.develop(PACKAGE); Pkg.instantiate(); Pkg.test(PACKAGE)'
      after_success: skip
    - stage: "Documentation"
      julia: 1.1
      os: linux
      script:
        - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.add(PackageSpec(path=pwd())); Pkg.build()'
        - julia --project=docs --color=yes -e 'include("docs/make.jl")'
      after_success: skip
